    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        width: 600px;
        /*color: #fff;*/
    }
    
    .card {
        /*Agregando shadows */
        display: flex;
        border-bottom: 1px solid transparent;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        transition: 0.3s;
        position: fixed;
        top: 755px;
        /*align-self: flex-end;
        align-items: flex-end;
        justify-content: flex-end;*/
        right: 0;
        width: 325px;
        height: 60px;
        margin-right: 12px;
        /* background-color: rgb(106, 194, 84);*/
        background-color: rgba(34, 33, 33, 0.1);
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    }
    
    .container {
        padding: 10px 20px;
        border-radius: 12px;
        margin-right: 12px;
        background-color: rgba(100, 93, 93, 0.1);
    }
    
    @media only screen and (max-device-width: 667px) and (min-device-width: 375px) {
        .card {
            top: 620px;
        }
    }
    
    @media only screen and (max-device-width: 740px) and (min-device-width: 340px) {
        .card {
            top: 670px;
        }
    }
    
    @media only screen and (max-device-width: 812px) and (min-device-width: 375px) {
        .card {
            top: 720px;
        }
    }
    
    @media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
        .card {
            top: 945px;
        }
    }